@import url('https://fonts.googleapis.com/css?family=Questrial&display=swap');

h3 {
    text-align: center;
    padding-top: 50px;
    font-family: 'Questrial';
}

h5 {
    font-family: 'Questrial';
    color: #039be5;
}

h6 {
    padding-bottom: 5px;
    font-family: 'Questrial';
    color: #039be5;
}

p {
    color: #039be5;
}

button {
    padding-bottom: 20px;
}

#submit {
    padding-top: 20px;
}
