@import url('https://fonts.googleapis.com/css?family=Questrial&display=swap');

h3 {
    text-align: center;
    padding-top: 50px;
    font-family: 'Questrial';
    color: #ffab40;
}

h6 {
    padding-bottom: 5px;
    font-family: 'Questrial';
    color: #039be5;
}


button {
    padding-bottom: 20px;
}

#submit {
    padding-top: 20px;
}

#createAccount {
    margin-top: 30px;
}

.OG {
    color: #ffab40;
}

/* label color */
.input-field label {
    color: #039be5;
}
